<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Баланс <p th:text="${balance}">Name</p>
<p th:text="${message}">Name</p>
<form action="atm" method="post">
    <fieldset>
        <label for="card">Номер карты:</label>
        <input type="text" id="card" name="card">
        <label for="pin">PIN:</label>
        <input type="text" id="pin" name="pin" />
        <label for="newpin">новый PIN:</label>
        <input type="text" id="newpin" name="newpin" />
        <label for="newpin">сумма:</label>
        <input type="text" id="amount" name="amount" />
        <input type="submit" id="Get" value="Взять деньги" name="button"/>
        <input type="submit" id="Put" value="Положить деньги" name="button"/>
        <input type="submit" value="Посмотреть баланс" name="button"/>
        <input type="submit" value="Сменить пинкод" name="button"/>
    </fieldset>
</form>

</body>
</html>